
body {
  margin: 9%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to bottom right, #44BB88, #E3F2FD);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.user-form {
  background-color: white;
  border-radius: 3rem;
  padding: 2rem;
  background-position-y: -1px;
  bottom: -1px;
}

.img-vert-half {
  max-width: 50%; 
  height: auto;
}

.vert-split-div {
  column-count: 2;
}

.span-left {
  column-span: 1;
  text-align: left; 

}

.span-right {
  column-span: 1;
  text-align: right; 
}

#leftHalf {
  background: url('./images/roberto-valdivia-rcUw6b4iYe0-unsplash.jpg');
  background-repeat: no-repeat;
  width: 50%;
  position: absolute;
  left: 0px;
  height: 100%;
}

.btn-spacer {
  margin: 1rem 2rem 1rem 2rem;
}

.category-select {
  height: 3rem;
  background-color: #F1DB4B;
  border-radius: 2px;
  border-width: 0px;
}

.inline {
  display: inline-block
}

nav ul{height:200px; width:18%;}
nav ul{overflow:hidden; overflow-y:scroll;}


.ingredient-list {
  border:1px solid black;
}

.text-wrap {
  white-space: pre-line;
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 500px;
  background-color: #fff;
}

.modal-header {
  padding: 10px;
}

.modal-title {
  marign: 0;
}

.modal-body {
  display: flex;
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  align-items: center;
  justify-content: center;
}

.modal-button {
  margin-right: 3rem;
  margin-left: 3rem;
}
