body {
  margin: 9%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.img-vert-half {
  max-width: 50%; 
  height: auto;
}

.vert-split-div {
  column-count: 2;
}

.span-left {
  column-span: 1;
  text-align: left; 

}

.span-right {
  column-span: 1;
  text-align: right; 
  
}

.next-button {
  background-color: blue;
}

